<body>

    <a href="/">Início</a>
<a href="/about/">Sobre</a>

<h1>Sobre Mim</h1>
<h2>... e meu novo site Astro!</h2>
    <h1>Meu Site de Gastronomia</h1>
    <h1>Sobre Mim</h1>
    <h2>... e meu novo site Astro!</h2>
  
    <p>Estou criando esse site que será um acervo de receitas</p>
  
    <p>Este site será atualizado enquanto eu aprendo a cozinhar melhor</p>
  </body>