---
import Welcome from '../components/Welcome.astro';
import Layout from '../layouts/Layout.astro';

---
<body>
    <a href="/">Inicio</a>
    <a href="/about/">Sobre</a>
    <a href="/blog/">Blog</a>

    <h1>Meu Site Gastronomia</h1>
    <h1>So mais um apaixonado por comida boa</h1>
    <h2>... e meu novo site Astro!</h2>
  
    <p>Estou resolvendo o tutorial introdutório do Astro. Esta é a segunda página no meu website, e é a primeira que eu mesmo construí!</p>
  
    <p>Este site será atualizado enquanto eu completo mais desse tutorial, então continue com fome e veja como minha jornada está indo!</p>
  </body>
